.pizza-type {
    font-size:50px;
    text-align:center;
}

.wall {
    background-color:LightBlue;
}

.page-name{
    font-size:60px;
    text-align:center;
}

.about {
    font-size:20px;
    text-align:center;
}

.links {
    font-size:17px;
    text-align:center;
}

.types {
    font-size:20px;
    text-align:center;
}

.photo {
    text-align:center;
    height:400px;
    width:700px;
}